.App {
    /* padding: 0 0.8%;
    display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0.8%;
}

.FindResByRefNo{
    align-items: center;
    justify-content: center;
    text-align: right;
    margin: 7%;
    margin-right: 0%;
}

img {
    width: 50%;
    height:290px;
    object-fit:cover;
    /* object-fit:cover; */
}


h1 {
   margin:6%;
}


#form{
    margin: 3%;
    padding: 6%;
    width: 40%;
    padding: 0 0.8%;
    display: inline-block;
}
#form Button{
    margin:4%;
    margin-top: 3%;
}

